$white: #ffffff;
$black: #000000;
$text-primary: #1b1b1b;
$silver: #c4c4c4;
$medium-purple: #9b51e0;
$silver-chalice: #a8a8a8;
$boulder: #767676;
$silver2: #c1c1c1;
$cod-gray: #0b0b0b;
$red: #ff0101;
$cod-gray2: #0a0a0a;
